@import url(temp.css);
.main-top .top-item {
  padding: 0;
  border-left: 15px solid #e4e7ed;
  height: 104px;
  overflow: hidden;
  background: #fff;
}
.top-item:first-child{
  border-left:0;
}
.btn{
  border-radius:2px;
}
.main-top .top-item > img {
  margin-top: 19px;
  margin-left: 16px;
}
.main-top .top-item span {
  padding-right: 20px;
}
.top-item h2{
  font-size: 26px;
  text-align:right;
}
.main-body {
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 0;
  margin-top: 20px;
  background: #ebf1f4;
}
.main-body .main-body-head {
  height: 56px;
  padding-left: 19px;
}
.main-body-head-right {
  margin-right: 20px;
}
.main-body .main-body-head > span > button {
  margin: 12px 5px;
  background: #15ae8f;
  color: #fff;
}
@media screen and (max-width: 1366px) {
  .main-body .main-box-right {
    display: inline-block;
    padding: 0 40px 0 10px;
  }
  .main-body .main-box-right > h2 {
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 24px;
  }
  #file_text{
    display:none !important;
  }
  .main-body .main-box-right > p {
    text-align: center;
  }
  .main-body .main-body-head-right {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 13.5px 0;
  }
  .main-body .main-body-content {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #eee;
  }
  .main-body .main-body-content .content-item {
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    background: #f9fbfc;
    border: 1px solid #ccc;
    width: 30%;
    margin: 0 5px 22px 0px;
    min-height: 100px;
  }
  .main-body .main-body-content .content-item:nth-child(1) {
    margin: 0 5px 22px 0;
  }
  .main-body .main-body-content .content-item .content-item-top {
    padding: 20px 20px 20px 20px;
    height: 70%;
  }
  .main-body .main-body-content .content-item .content-item-top .content-item-top-right {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 1367px) and (max-width: 2200px) {
  .main-body .main-box-right {
    display: inline-block;
    padding: 0 40px 0 10px;
  }
  .main-body .main-box-right > h2 {
    text-align: center;
    color: red;
    font-weight: 600;
  }
  .main-body .main-box-right > p {
    text-align: center;
  }
  .main-body-head-right {
    margin-right: 20px;
  }
  .main-body .main-body-head-right {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 13.5px 0;
  }
  .main-body .main-body-content {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #eee;
  }
  .main-body .main-body-content .content-item {
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    background: #f9fbfc;
    border: 1px solid #ccc;
    width: 30%;
    margin: 10px 7px;
    min-height: 100px;
  }

  .main-body .main-body-content .content-item .content-item-top {
    padding: 20px 20px 20px 20px;
    height: 70%;
  }
  .main-body .main-body-content .content-item .content-item-top .content-item-top-right {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 2200px) {
  .main-body .main-box-right {
    display: inline-block;
    padding: 0 40px 0 10px;
  }
  .main-body .main-box-right > h2 {
    text-align: center;
    color: red;
    font-weight: 600;
  }
  .main-body .main-box-right > p {
    text-align: center;
  }
  .main-body .main-body-head-right {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 13.5px 0;
  }
  .main-body .main-body-content {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #eee;
  }
  .main-body .main-body-content .content-item {
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    background: #f9fbfc;
    border: 1px solid #ccc;
    width: 24%;
    margin: 0 18px 22px 0px;
    position: relative;
    min-height: 100px;
  }

  .main-body .main-body-content .content-item:nth-child(3n+1){
    margin-right: 0;
  }
  .main-body .main-body-content .content-item:nth-child(1){
    margin-right: 18px;
  }
  .main-body .main-body-content .content-item .content-item-top {
    padding: 20px 20px 20px 20px;
    height: 70%;
  }
  .main-body .main-body-content .content-item .content-item-top .content-item-top-right {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin-left: 3%;
  }
}
.content-item:hover {
  box-shadow: 0 0 10px #15ae8f;
  cursor: pointer;
}
.choosed {
  box-shadow: 0 0 10px #15ae8f;
}
.sort-select {
  height: 28px;
  padding: 2px;
}
.add-address {
  position: absolute;
  right: 10px;
  bottom: 6px;
}
@media screen and (min-width: 1000px) and (max-width: 1248px) {
  #kongjian {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  #kongjian {
    font-size: 16px;
  }
}